.App {
  max-width: 200px;
  margin: 60px auto;
}

.input-search {
  border-radius: 10px;
  padding: 4px;
}

ul {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
}

.pokemon-wrapper{
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.list {
  border: 1px solid #fff;
  padding: 5px;
}

.pagination {
  display: flex;
  border: 1px solid #fff;
  justify-content: center;
  padding: 20px;
}

.pagination button {
  padding: 10px;
}

.active {
  background: black;
  color: #fff;
  border: 1px solid #fff;
}